<div class="banner">
	<div class="navbar">

		<img src="../../assets/img/logo.png" class="logo">
		<ul>
         <li> <a routerLink="/map"> Cartographie </a></li> 
         
         <li> <a routerLink="/calendar">Calendrier</a></li>
         <li> <a routerLink="/home">Home</a></li>
         <li> <a routerLink="/alert">Alertes</a></li>
         <li> <a routerLink="/logout">Logout</a></li>
         <li> <a routerLink="#">About</a></li>

         
        </ul>


</div>

  
 

  







<div class="map-wrapper">
    <div class="map-border">
      <div id="map"></div>
    </div>
  </div>








